# ===== Maven =====
/target/
*.log

# ===== IDE =====
/.idea/
*.iml
/.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Embedded dev server =====
/server/

# (optional) if present
/cache/
/libraries/
/logs/
/plugins/
/versions/
